<h2>AppFamiliares</h2>
<h3>Familiar 1</h3>
<p>Nombre = {{familiar_1.nombre}}</p>
<p>Edad = {{familiar_1.edad}}</p>
<p>E-mail = {{familiar_1.email}}</p>
<p>Fecha Nacimiento = {{familiar_1.fecha_nacim}}</p>
<br/>
<h3>Familiar 2</h3>
<p>Nombre = {{familiar_2.nombre}}</p>
<p>Edad = {{familiar_2.edad}}</p>
<p>E-mail = {{familiar_2.email}}</p>
<p>Fecha Nacimiento = {{familiar_2.fecha_nacim}}</p>
<br/>
<h3>Familiar 3</h3>
<p>Nombre = {{familiar_3.nombre}}</p>
<p>Edad = {{familiar_3.edad}}</p>
<p>E-mail = {{familiar_3.email}}</p>
<p>Fecha Nacimiento = {{familiar_3.fecha_nacim}}</p>
<br/>